@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Prata&display=swap');

#mybody{
   margin:0;
   font-family: 'Montserrat', sans-serif;
   
}
.myp{
    font-weight: 600;
    font-style: italic;
}
.main-section{
    padding:20px
    
}
.image-container{
    min-height:500px; 
    background-image: url(https://img.freepik.com/free-photo/space-background-realistic-starry-night-cosmos-shining-stars-milky-way-stardust-color-galaxy_1258-154750.jpg?w=1380&t=st=1704204519~exp=1704205119~hmac=65b565bde6e11ccbce1eea828fba6a1e8709a15b564f68d312a8fc5d922d667f);
    background-size: auto;
    text-shadow:0px 2px 4px beige;
}


h1 {
font-family:'Prata',sans-serif;
font-size: 64px;
font-weight: 400;
margin-bottom: 0;
}

h3{
font-family:'Prata', sans-serif;
font-size:24px;
font-weight: 400;
margin-bottom: 0;
}

h6{
  padding: 22px;
  margin-bottom: 0px;
  margin-top: 56px;
  color:white;
  border-radius:6px;
  background:linear-gradient(rgb(112, 54, 229),rgb(157, 153, 218));
  text-shadow:0px 2px 4px beige;
}

p{
    font-style: italic;
    font-weight: 600;
}
ul{
    padding:0px;

}
li{
  
   padding-top:6px ; 
   bottom: 6px;
   padding-left: 22px;
   border-bottom: 1px; 
   border-color:#dfdfdf;
}

a{
    color: rgb(112, 54, 229);
    text-decoration: none;
    font-style: italic;
}
.a1{
background-color: black;
font-style: italic;
color: white;
}
footer{
padding:16px;
text-align: center;}